.loginDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(136, 100, 253);
}

.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: rgb(96, 4, 245);
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    color:black;
}

.Name {
    color: rgb(0, 0, 0);
    font-weight: bold;
}