
.homeDesign {
    min-height: 90vh;
    width: 100vw;
    height: auto;
    margin-top: 0px;

    background-color: rgb(136, 100, 253);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: lightseagreen;
}
