.homeDesign {
    min-height: 90vh;
    width: 100vw;
    height: auto;
    margin-top: 0px;
    background-image: url('../../img/home.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}