.headerDesign {
    height: 10vh;
    width: 100vw;
    background: linear-gradient(90deg, rgb(0, 10, 123) 0%, rgb(1, 254, 254) 100%);    background-size: 200% 200%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    

    color: white;
    font-weight: bold;
}

.Role {
    align-items: start;
    display: flex;
    margin-right: 4em;
    color: gold;
    background-image: url('../../img/sagitario.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 3em;
    margin-bottom: 1em;
}

.headerDesignAdmin {
    
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    background-color: black;
  }

  @media (max-width: 768px) {
    .headerDesign,
    .headerDesignAdmin {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .Role {
      margin-right: 0;
      margin-bottom: 1em;
    }
  
    .headerDesignAdmin {
      background-position: center bottom;
    }
  
    .menu {
      display: none;
    }
  
    .menu.show {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    .headerDesign,
    .headerDesignAdmin {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .Role {
      margin-right: 0;
      margin-bottom: 1em;
    }
  
    .headerDesignAdmin {
      background-position: center bottom;
    }
  
    .menu {
      display: none;
    }
  
    .menu.show {
      display: block;
    }
  }