.AllUsersDesign {
  height: 90vh;
  width: 100vw;
  background-image: url("../../img/home.jpg");
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow-y: scroll;
  overflow-x: hidden;
  
}

.allUsers {
  display: grid;
  flex-wrap: wrap;
  width: 8em;
  position: relative;
  margin: 1em;
}

.allUsers:hover {
  border-radius: 10px;
  height: 15em;
  width: 20em;
}

.usersDesign {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
}

.deleteButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background-color: black;
  color: gold;
}

.allUsers:hover .deleteButton {
  visibility: visible;
}
