.AllUsersDesign {
    height: 90vh;
    width: 100vw;
    background-image: url('../../img/home.jpg');
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-y: scroll;
    overflow-x: hidden;
  }